@import url(reset.css);

body {
  font-family: "Montserrat", sans-serif;
}

/* header section */

.header {
  height: 1012px;
  width: 100vw;
  font-weight: 700;
  margin-bottom: 8px;
  background-color: gray;
}

.paralax {
  height: 1012px;
  background-image: url(../imgs/background/section-1.jpg);
  background-size: cover;
}

/* navbar section */

.header-navbar {
  height: 120px;
  width: 100vw;
  background-color: rgba(94, 93, 88, 0.6);
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 264px;
  padding: 0px 380px;
  display: flex;
  /* position: fixed; */
}

.header-menu {
  display: flex;
  padding-top: 50px;
  align-items: center;
}

.header-menu-item-link {
  font-size: 16px;
  margin-right: 21px;
  padding-bottom: 47px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu-item-link:hover {
  border-bottom: 1px solid #18cfab;
  color: #18cfab;
}

.header-menu-item-icon {
  height: 19px;
  fill: rgba(255, 255, 255, 0.6);
}

.header-menu-item-icon:hover {
  fill: rgba(24, 207, 171, 1);
}

/* home text section */

.header-text {
  text-align: center;
  margin-bottom: 129px;
}

.header-text-title {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.header-text-title span {
  color: #18cfab;
}

.header-text-content1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 78px;
  margin-bottom: 22px;
}

.header-text-content2 {
  color: #d4d4d4;
  font-weight: 400;
  font-size: 34px;
}

.header-buttons {
  margin-top: 128px;
}

.btn {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  border-top: 5px solid white;
  border-radius: 5px;
  text-decoration: none;
}

.header-button-explore {
  background-color: #18cfab;
  padding: 21px 17px;
  margin-right: 26px;
}

.header-button-purchase {
  background-color: #00cbf6;
  padding: 21px 11px;
}

/* 4option section  */

.main-option-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.main-option-container div:nth-child(odd) {
  background-color: #1c2a33;
  color: #18cfab;
  padding-top: 95px;
}

.main-option-container div:nth-child(even) {
  background-color: #18cfab;
  color: #ffffff;
  padding-top: 105px;
}

.main-option-container-item {
  height: 377px;
  box-sizing: border-box;
  width: 25vw;
}

.main-option-text-even {
  margin-top: 47px;
}

.main-option-text-odd {
  margin-top: 58px;
}

/* services section */

.main-services {
  margin: auto;
  max-width: 1160px;
  margin-top: 83px;
}

.main-services-title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 28px;
}

.line:after {
  content: "";
  background-color: #18cfab;
  height: 1px;
  display: block;
  width: 75px;
  margin: auto;
}

.first-line {
  margin-bottom: 2px;
}

.second-line {
  margin-left: 11px;
}

.main-services-container {
  margin-top: 69px;
}

.main-services-container-items {
  display: flex;
  width: 100%;
  color: #717171;
  font-weight: 400;
  font-size: 13px;
}

.services-items-title {
  background-color: #f8fcfe;
  width: 100%;
  border: 1px solid #edefef;
  padding: 16px 23px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 28px;
  position: relative;
}

.services-items-title:hover {
  cursor: pointer;
  border: 1px solid #18cfab;
}

.services-items-title.active {
  background-color: #18cfab;
  color: #ffffff;
  border: 1px solid #18cfab;
}

.services-items-title.active::before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  border-top-color: #18cfab;
  border-width: 9px;
  margin-left: -9px;
}

.services-items-info {
  display: none;
}

.services-items-info.active {
  display: flex;
}

.services-items-text {
  margin-left: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #777777;
  letter-spacing: 1px;
  line-height: 24px;
}

.services-items-img {
  display: block;
  width: 192px;
  height: 139px;
}

/* purchase section */

.main-purchase {
  height: 476px;
  width: 100vw;
  background-image: url(../imgs/background/section-2.jpg);
  margin-top: 91px;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-purchase-title {
  color: #18cfab;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 12px;
}

.main-purchase-content {
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 62px;
}

.main-button-purchase {
  background-color: #18cfab;
  display: block;
  margin: auto;
  width: 168px;
  padding: 16px 11px;
  text-align: center;
  font-weight: 700px;
  text-decoration: none;
}

/* work section */

.main-work {
  width: 100vw;
  background-color: #e9edef;
  font-weight: 700;
  padding-top: 95px;
  padding-bottom: 99px;

}

.main-work-container {
  max-width: 1160px;
  margin: auto;
}

.main-work-title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 28px;
}

.main-work-content-items {
  display: flex;
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 71px;
}

.work-items-title {
  border: 1px solid #dadada;
  padding: 14px 15px;
  cursor: pointer;
}

.work-items-title:hover {
  border: 1px solid #18cfab;
}

.work-items-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.work-items-info {
  width: 285px;
  height: 211px;
  position: relative;
}

.work-items-info:hover div {
  z-index: 1;
}

.work-items-content-hover {
  background-color: rgba(233, 237, 239, 1);
  border-top: 1px solid rgba(24, 207, 171, 1);
  width: 285px;
  height: 211px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.work-hover-img {
  display: block;
  margin: auto;
  padding-top: 46px;
  padding-bottom: 24px;
  cursor: pointer;
}

.work-hover-title {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: rgba(24, 207, 171, 1);
}

.work-hover-subtitle {
  font-size: 12px;
  font-weight: 300;
  color: rgba(138, 138, 138, 1);
}

.work-button-loadmore {
  display: block;
  box-sizing: border-box;
  margin: auto;
  max-width: 168px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700px;
  background-color: #18cfab;
  text-align: right;
  padding: 23px 16px 23px 38px;
  background-image: url(../imgs/work-loadmore.png);
  background-repeat: no-repeat;
  background-position: 22px 22px;
  border-radius: 5px;
  text-decoration: none;
}

/* loading  */


/* breaking news section */

.main-breakingnews {
  padding-top: 84px;
  padding-bottom: 130px;
}

.main-breakingnews-title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 28px;
}

.main-breakingnews-cards {
  padding-top: 69px;
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breakingnews-card-content {
  width: 263px;
  height: 208px;
  display: block;
  position: relative;
}

.breakingnews-card:hover .hover-info {
  background-color: #18cfab;
  transition: 1s ease;
}

.breakingnews-card:hover .card-title {
  color: #18cfab;
  transition: 1s ease;
}

.hover-info {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  background-color: #203e38;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

.card-info {
  padding-left: 15px;
  margin-bottom: 57px;
}

.card-title {
  padding-top: 14px;
  color: #717171;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 11px;
}

.card-text {
  padding-bottom: 15px;
}

/*  client feedback section  */

.main-feedback {
  height: 853px;
  background-image: url(../imgs/background/section-3.jpg);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-feedback-container {
  max-width: 1160px;
  margin: auto;
}

.main-feedback-title {
  padding-top: 98px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  padding-bottom: 29px;
}

.main-feedback-quotes img {
  display: block;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 36px;
}

.main-feedback-info-comment {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #bbbbbb;
  padding-bottom: 37px;
  line-height: 30px;
}

.feedback-username {
  text-align: center;
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 27px;
}

.feedback-userjob {
  text-align: center;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 13px;
  padding-bottom: 38px;
}

.feedback-item-bigimg {
  border: 11px solid rgba(31, 218, 181, 0.2);
  border-radius: 80px;
  width: 142px;
  height: 142px;
  display: block;
  margin: auto;
}

.feedback-big-img {
  width: 142px;
  height: 142px;
  display: block;
  margin: auto;
}

.feedback-preview-icons {
  display: flex;
  justify-content: center;
  margin-top: 51px;
}

.feedback-list {
  display: flex;
  width: 483px;
  justify-content: space-around;
}

.arrow {
  display: block;
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  margin-top: 19px;
  color: #ffffff;
  line-height: 2em;
  text-align: center;
}

.arrow:hover {
  background-color: #18cfab;
  cursor: pointer;
}

.feedback-small-img {
  display: block;
  border: 7px solid rgba(31, 218, 181, 0.2);
  border-radius: 80px;
  width: 59px;
  height: 59px;
  cursor: pointer;
}

.feedback-small-img:hover {
  transition: 0.5s;
  transform: scale(1.2);
  margin-bottom: 34px;
  border: 7px solid rgba(31, 218, 181, 1);
  border-radius: 35px;
}

/* copyright section */

.footer {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  height: 121px;
  background-color: rgba(34, 53, 63, 1);
}

.footer-copyright {
  color: rgba(174, 174, 174, 1);
  padding: 48px 0;
  text-align: center;
}

.footer-copyright span {
  color: rgba(24, 207, 171, 1);
}